DISCORD_WEBHOOK=<discord webhook URL>
DISCORD_WEBHOOK_WATCHED=<discord webhook URL>       # Optional: secondary webhook for orgs listed in watched_org_ids.txt
CERTSTREAM_WS_URL=ws://127.0.0.1:8080/ 
# DOH_SERVER=https://cloudflare-dns.com/dns-query   # Optional: use DoH instead of system DNS
EMAIL_ENABLED=<true or false>                       # Disables automated SMTP emails AND manual mailto links in Discord alerts

SMTP_ENABLED=<true or false>                        # Disables automated SMTP emails only
#SMTP_ONLY_WATCHED=false                            # Optional: send emails for only watched orgs
SMTP_HOST=<SMTP server host>
SMTP_PORT=<SMTP server port>
SMTP_USERNAME=<SMTP username>                       # If needed for Gmail, Outlook, etc
SMTP_PASSWORD=<SMTP password>                       # If needed for Gmail, Outlook, etc
SMTP_FROM_EMAIL=<"From" email field>
# SMTP_REPLY_TO=<"Reply-To" email field>            # Optional: reply-to email address, if differing from sender
# SMTP_USE_STARTTLS=true
# SMTP_USE_SSL=false
# SMTP_TIMEOUT_SECONDS=15
# AUTOMATED_EMAIL_DISCLAIMER="This is an automated message. Please reply if you have questions or if this appears to be in error."
